<section id="NED-bp1005-13-item1">
  <img src="template/1005/images/1005_4_bg_1.jpg" class="NED-background" draggable="false" />
  <div id="NED-bp1005-13-item1_headerText" class="headerText fontH1" data-type="text" data-lang="t8">
    <p>股权结构股权结构</p>
  </div>

  <div id="NED-bp1005-13-item1_1_centerIcon" class="centerIcon" data-type="img">
    <img src="template/1005/images/1005_13_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-13-item1_1_name" class="name fontH6" data-type="text" data-field="stocker_1">
    <p>坚果兄弟投资机构</p>
  </div>
  <div id="NED-bp1005-13-item1_1_text" class="text fontText">
    <div class="inline" data-type="text" data-field="stockPercent_1">30</div><div class="inline" data-field="percent" data-type="text">%</div>
  </div> %
</section>

<section id="NED-bp1005-13-item2">
  <img src="template/1005/images/1005_4_bg_1.jpg" class="NED-background" draggable="false" />
  <div id="NED-bp1005-13-item2_headerText" class="headerText fontH1" data-type="text" data-lang="t8">
    <p>股权结构股权结构</p>
  </div>

  <div id="NED-bp1005-13-item2_1_centerIcon" class="centerIcon icon1" data-type="img">
    <img src="template/1005/images/1005_13_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-13-item2_2_centerIcon" class="centerIcon icon2" data-type="img">
    <img src="template/1005/images/1005_13_icon_1.png" draggable="false" />
  </div>

  <div id="NED-bp1005-13-item2_1_name" class="name fontH6 name1" data-type="text" data-field="stocker_1">
    <p>坚果兄弟投资机构</p>
  </div>
  <div id="NED-bp1005-13-item2_1_text" class="text fontText text1">
    <div class="inline" data-type="text" data-field="stockPercent_1">30</div><div class="inline" data-field="percent" data-type="text">%</div>
  </div>

  <div id="NED-bp1005-13-item2_2_name" class="name fontH6 name2" data-type="text" data-field="stocker_2">
    <p>坚果兄弟投资机构</p>
  </div>
  <div id="NED-bp1005-13-item2_2_text" class="text fontText text2">
     <div class="inline" data-type="text" data-field="stockPercent_2">30</div><div class="inline" data-field="percent" data-type="text">%</div>
  </div>
</section>

<section id="NED-bp1005-13-item3">
  <img src="template/1005/images/1005_4_bg_1.jpg" class="NED-background" draggable="false" />
  <div id="NED-bp1005-13-item3_headerText" class="headerText fontH1" data-type="text" data-lang="t8">
    <p>股权结构股权结构</p>
  </div>

  <div id="NED-bp1005-13-item3_1_centerIcon" class="centerIcon icon1" data-type="img">
    <img src="template/1005/images/1005_13_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-13-item3_2_centerIcon" class="centerIcon icon2" data-type="img">
    <img src="template/1005/images/1005_13_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-13-item3_3_centerIcon" class="centerIcon icon3" data-type="img">
    <img src="template/1005/images/1005_13_icon_1.png" draggable="false" />
  </div>

  <div id="NED-bp1005-13-item3_1_name" class="name fontH6 name1" data-type="text" data-field="stocker_1">
    <p>坚果兄弟投资机构</p>
  </div>
  <div id="NED-bp1005-13-item3_1_text" class="text fontText text1">
    <div class="inline" data-type="text" data-field="stockPercent_1">30</div><div class="inline" data-field="percent" data-type="text">%</div>
  </div>

  <div id="NED-bp1005-13-item3_2_name" class="name fontH6 name2" data-type="text" data-field="stocker_2">
    <p>坚果兄弟投资机构</p>
  </div>
  <div id="NED-bp1005-13-item3_2_text" class="text fontText text2">
    <div class="inline" data-type="text" data-field="stockPercent_2">30</div><div class="inline" data-field="percent" data-type="text">%</div>
  </div>

  <div id="NED-bp1005-13-item3_3_name" class="name fontH6 name3" data-type="text" data-field="stocker_3">
    <p>坚果兄弟投资机构</p>
  </div>
  <div id="NED-bp1005-13-item3_3_text" class="text fontText text3">
    <div class="inline" data-type="text" data-field="stockPercent_3">30</div><div class="inline" data-field="percent" data-type="text">%</div>
  </div>
</section>

<section id="NED-bp1005-13-item4">
  <img src="template/1005/images/1005_4_bg_1.jpg" class="NED-background" draggable="false" />
  <div id="NED-bp1005-14-item4_headerText" class="headerText fontH1" data-type="text" data-lang="t8">
    <p>股权结构股权结构</p>
  </div>
  <div id="NED-bp1005-13-item4_1_centerIcon" class="centerIcon icon1" data-type="img">
    <img src="template/1005/images/1005_13_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-13-item4_2_centerIcon" class="centerIcon icon2" data-type="img">
    <img src="template/1005/images/1005_13_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-13-item4_3_centerIcon" class="centerIcon icon3" data-type="img">
    <img src="template/1005/images/1005_13_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-13-item4_4_centerIcon" class="centerIcon icon4" data-type="img">
    <img src="template/1005/images/1005_13_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-13-item4_1_name" class="name fontH6 name1" data-type="text" data-field="stocker_1">
    <p>坚果兄弟投资机构</p>
  </div>
  <div id="NED-bp1005-13-item4_1_text" class="text fontText text1 inline">
    <div class="inline" data-type="text" data-field="stockPercent_1">30</div><div class="inline"  data-field="percent" data-type="text">%</div>
  </div> 
  <div id="NED-bp1005-13-item4_2_name" class="name fontH6 name2" data-type="text" data-field="stocker_2">
    <p>坚果兄弟投资机构</p>
  </div>
  <div id="NED-bp1005-13-item4_2_text" class="text fontText text2">
    <div class="inline" data-type="text" data-field="stockPercent_2">30</div><div class="inline" data-field="percent" data-type="text">%</div>
  </div>
  <div id="NED-bp1005-13-item4_3_name" class="name fontH6 name3" data-type="text" data-field="stocker_3">
    <p>坚果兄弟投资机构</p>
  </div>
  <div id="NED-bp1005-13-item4_3_text" class="text fontText text3">
    <div class="inline" data-type="text" data-field="stockPercent_3">30</div><div class="inline" data-field="percent" data-type="text">%</div>
  </div>

  <div id="NED-bp1005-13-item4_4_name" class="name fontH6 name4" data-type="text" data-field="stocker_4">
    <p>坚果兄弟投资机构</p>
  </div>
  <div id="NED-bp1005-13-item4_4_text" class="text fontText text4">
    <div class="inline" data-type="text" data-field="stockPercent_4">30</div><div class="inline" data-field="percent" data-type="text">%</div>
  </div>
</section>