<section id="NED-bp1005-10-item1">
  <img src="template/1005/images/1005_10_bg_1.jpg" class="NED-background" draggable="false"/>
  <div id="NED-bp1005-10-item1_headerText" class="headerText fontH1" data-type="text" data-lang="t9">
    <p>融资规划融资规划</p>
  </div>
  <div id="NED-bp1005-10-item1_bar_1" class="bar" data-type="img">
    <img src="template/1005/images/1005_10_icon_1.png" draggable="false"/>
  </div>
  <div id="NED-bp1005-10-item1_descriptionText" class="descriptionText fontH6">
    <div class="inline" data-type="text" data-field="fmoneyView">"融资</div><div class="textAdd" data-type="text" data-field="fMoney">1000</div><div class="inline" data-type="text" data-field="wan">万</div> <div class="inline" data-type="text" data-field="fstockView">, 出让</div><div class="textAdd1"  data-type="text" data-field="fStock">10</div><div class="inline"  data-type="text" data-field="percent">%</div><div class="inline" data-type="text" data-field="fstockP">股权"</div>
  </div>

  <div id="NED-bp1005-10-item1_1_title" class="title fontH6" data-type="text" data-field="financeUsage_1">
    <p>团队扩张团队扩张</p>
  </div>

  <div id="NED-bp1005-10-item1_1_text" class="text fontText">
     <div class="inline" data-type="text" data-field="useMoney_1">2000</div><div class="inline"  data-type="text" data-field="wan">万</div>
  </div>

</section>

<section id="NED-bp1005-10-item2">
  <img src="template/1005/images/1005_10_bg_1.jpg" class="NED-background" draggable="false"/>

  <div id="NED-bp1005-10-item2_bar_1" class="bar bar1" data-type="img">
      <img src="template/1005/images/1005_10_icon_1.png" draggable="false"/>
  </div>
  <div id="NED-bp1005-10-item2_bar_2" class="bar bar2" data-type="img">
      <img src="template/1005/images/1005_10_icon_1.png" draggable="false"/>
  </div>
  <div id="NED-bp1005-10-item2_headerText" class="headerText fontH1" data-type="text" data-lang="t9">
      <p>融资规划融资规划</p>
  </div>
  <div id="NED-bp1005-10-item2_descriptionText" class="descriptionText fontH6" data-type="text">
      <div class="inline" data-type="text" data-field="fmoneyView">"融资</div><div class="textAdd" data-type="text" data-field="fMoney">1000</div><div class="inline" data-type="text" data-field="wan">万</div> <div class="inline" data-type="text" data-field="fstockView">, 出让</div><div class="textAdd1"  data-type="text" data-field="fStock">10</div><div class="inline"  data-type="text" data-field="percent">%</div><div class="inline" data-type="text" data-field="fstockP">股权"</div>
  </div>

  <div id="NED-bp1005-10-item2_1_title" class="title fontH6 title1" data-type="text" data-field="financeUsage_1">
      <p>团队扩张团队扩张</p>
  </div>
  <div id="NED-bp1005-10-item2_1_text" class="text fontText text1">
      <div class="inline" data-type="text" data-field="useMoney_1">2000</div><div class="inline"  data-type="text" data-field="wan">万</div>
  </div>
  <div id="NED-bp1005-10-item2_2_title" class="title fontH6 title2" data-type="text" data-field="financeUsage_2">
      <p>团队扩张团队扩张</p>
  </div>
  <div id="NED-bp1005-10-item2_2_text" class="text fontText text2">
     <div class="inline" data-type="text" data-field="useMoney_2">2000</div><div class="inline"  data-type="text" data-field="wan">万</div>
  </div>
</section>

<section id="NED-bp1005-10-item3">
  <img src="template/1005/images/1005_10_bg_1.jpg" class="NED-background" draggable="false"/>

  <div id="NED-bp1005-10-item3_bar_1" class="bar bar1" data-type="img">
      <img src="template/1005/images/1005_10_icon_1.png" draggable="false"/>
  </div>
  <div id="NED-bp1005-10-item3_bar_2" class="bar bar2" data-type="img">
      <img src="template/1005/images/1005_10_icon_1.png" draggable="false"/>
  </div>
  <div id="NED-bp1005-10-item3_bar_3" class="bar bar3" data-type="img">
      <img src="template/1005/images/1005_10_icon_1.png" draggable="false"/>
  </div>
  <div id="NED-bp1005-10-item3_headerText" class="headerText fontH1" data-type="text" data-lang="t9">
      <p>融资规划融资规划</p>
  </div>
  <div id="NED-bp1005-10-item3_descriptionText" class="descriptionText fontH6" data-type="text" >
     <div class="inline" data-type="text" data-field="fmoneyView">"融资</div><div class="textAdd" data-type="text" data-field="fMoney">1000</div><div class="inline" data-type="text" data-field="wan">万</div> <div class="inline" data-type="text" data-field="fstockView">, 出让</div><div class="textAdd1"  data-type="text" data-field="fStock">10</div><div class="inline"  data-type="text" data-field="percent">%</div><div class="inline" data-type="text" data-field="fstockP">股权"</div>
  </div>
  <div id="NED-bp1005-10-item3_1_title" class="title fontH6 title1" data-type="text" data-field="financeUsage_1">
      <p>团队扩张团队扩张</p>
  </div>
  <div id="NED-bp1005-10-item3_1_text" class="text fontText text1">
      <div class="inline" data-type="text" data-field="useMoney_1">2000</div><div class="inline"  data-type="text" data-field="wan">万</div>
  </div>
  <div id="NED-bp1005-10-item3_2_title" class="title fontH6 title2" data-type="text" data-field="financeUsage_2">
      <p>团队扩张团队扩张</p>
  </div>
  <div id="NED-bp1005-10-item3_2_text" class="text fontText text2">
      <div class="inline" data-type="text" data-field="useMoney_2">2000</div><div class="inline"  data-type="text" data-field="wan">万</div>
  </div>
  <div id="NED-bp1005-10-item3_3_title" class="title fontH6 title3" data-type="text" data-field="financeUsage_3">
      <p>团队扩张团队扩张</p>
  </div>
  <div id="NED-bp1005-10-item3_3_text" class="text fontText text3">
      <div class="inline" data-type="text" data-field="useMoney_3">2000</div><div class="inline"  data-type="text" data-field="wan">万</div>
  </div>
</section>

<section id="NED-bp1005-10-item4">
  <img src="template/1005/images/1005_10_bg_1.jpg" class="NED-background" draggable="false"/>
  <div id="NED-bp1005-10-item4_bar_1" class="bar bar1" data-type="img">
      <img src="template/1005/images/1005_10_icon_1.png" draggable="false"/>
  </div>
  <div id="NED-bp1005-10-item4_bar_2" class="bar bar2" data-type="img">
      <img src="template/1005/images/1005_10_icon_1.png" draggable="false"/>
  </div>
  <div id="NED-bp1005-10-item4_bar_3" class="bar bar3" data-type="img">
      <img src="template/1005/images/1005_10_icon_1.png" draggable="false"/>
  </div>
  <div id="NED-bp1005-10-item4_bar_4" class="bar bar4" data-type="img">
      <img src="template/1005/images/1005_10_icon_1.png" draggable="false"/>
  </div>
  <div id="NED-bp1005-10-item4_headerText" class="headerText fontH1" data-type="text" data-lang="t9">
      <p>融资规划融资规划</p>
  </div>
  <div id="NED-bp1005-10-item4_descriptionText" class="descriptionText fontH6" data-type="text">
    <div class="inline" data-type="text" data-field="fmoneyView">"融资</div><div class="textAdd" data-type="text" data-field="fMoney">1000</div><div class="inline" data-type="text" data-field="wan">万</div> <div class="inline" data-type="text" data-field="fstockView">, 出让</div><div class="textAdd1"  data-type="text" data-field="fStock">10</div><div class="inline"  data-type="text" data-field="percent">%</div><div class="inline" data-type="text" data-field="fstockP">股权"</div>
  </div>
  <div id="NED-bp1005-10-item4_1_title" class="title fontH6 title1" data-type="text" data-field="financeUsage_1">
      <p>团队扩张团队扩张</p>
  </div>
  <div id="NED-bp1005-10-item4_1_text" class="text fontText text1">
      <div class="inline" data-type="text" data-field="useMoney_1">2000</div><div class="inline"  data-type="text" data-field="wan">万</div>
  </div>
  <div id="NED-bp1005-10-item4_2_title" class="title fontH6 title2" data-type="text" data-field="financeUsage_2">
      <p>团队扩张团队扩张</p>
  </div>
  <div id="NED-bp1005-10-item4_2_text" class="text fontText text2">
      <div class="inline" data-type="text" data-field="useMoney_2">2000</div><div class="inline"  data-type="text" data-field="wan">万</div>
  </div>
  <div id="NED-bp1005-10-item4_3_title" class="title fontH6 title3" data-type="text" data-field="financeUsage_3">
      <p>团队扩张团队扩张</p>
  </div>
  <div id="NED-bp1005-10-item4_3_text" class="text fontText text3">
      <div class="inline" data-type="text" data-field="useMoney_3">2000</div><div class="inline"  data-type="text" data-field="wan">万</div>
  </div>
  <div id="NED-bp1005-10-item4_4_title" class="title fontH6 title4" data-type="text" data-field="financeUsage_4">
      <p>团队扩张团队扩张</p>
  </div>
  <div id="NED-bp1005-10-item4_4_text" class="text fontText text4">
      <div class="inline" data-type="text" data-field="useMoney_4">2000</div><div class="inline"  data-type="text" data-field="wan">万</div>
  </div>

</section>