<section id="NED-bp1005-9-item1">
  <img src="template/1005/images/1005_9_bg_1.jpg" class="NED-background" draggable="false"/>
  <div id="NED-bp1005-9-item1_headerText" class="headerText fontH1" data-type="text" data-lang="t8">
    <p>团队成员团队成员</p>
  </div>
  
  <div id="NED-bp1005-9-item1_centerIcon" class="centerIcon" data-type="img">
    <img src="template/1005/images/1005_9_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-9-item1_1_roleImg" class="roleImg" data-type="img" data-field="groupImg_1">
    <img src="template/1005/images/1005_9_default_groupImg_1.jpg" draggable="false" />
  </div>
  <div id="NED-bp1005-9-item1_1_title" class="name fontH6" data-type="text" data-field="groupName_1">
    <p>交易环节交易环节</p>
  </div>
  <div id="NED-bp1005-9-item1_1_job" class="job" data-type="text" data-field="groupTitle_1">
    <p>首席的执行官</p>
  </div>
  <div id="NED-bp1005-9-item1_1_text" class="text fontText" data-type="text" data-field="groupDescript_1">
    <p>最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务</p>
  </div>
</section>

<section id="NED-bp1005-9-item2">
  <img src="template/1005/images/1005_9_bg_2.jpg" class="NED-background" draggable="false"/>
  <div id="NED-bp1005-9-item2_headerText" class="headerText fontH1" data-type="text" data-lang="t8">
    <p>团队成员团队成员</p>
  </div>

  <div id="NED-bp1005-9-item2_centerIcon" class="centerIcon centerImg1" data-type="img">
    <img src="template/1005/images/1005_9_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-9-item2_1_roleImg" class="roleImg roleImg1" data-type="img" data-field="groupImg_1">
    <img src="template/1005/images/1005_9_default_groupImg_1.jpg"  draggable="false" />
  </div>
  <div id="NED-bp1005-9-item2_1_title" class="name fontH6 name1" data-type="text" data-field="groupName_1">
    <p>交易环节交易环节</p>
  </div>
  <div id="NED-bp1005-9-item2_1_job" class="job job1" data-type="text" data-field="groupTitle_1">
    <p>首席的执行官</p>
  </div>
  <div id="NED-bp1005-9-item2_1_text" class="text fontText text1" data-type="text" data-field="groupDescript_1">
    <p>最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务</p>
  </div>
  
  <div id="NED-bp1005-9-item2_centerIcon" class="centerIcon centerImg2" data-type="img">
    <img src="template/1005/images/1005_9_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-9-item2_2_roleImg" class="roleImg roleImg2" data-type="img" data-field="groupImg_2">
    <img src="template/1005/images/1005_9_default_groupImg_2.jpg"  draggable="false" />
  </div>
  <div id="NED-bp1005-9-item2_2_title" class="name fontH6 name2" data-type="text" data-field="groupName_2">
    <p>交易环节交易环节</p>
  </div>
  <div id="NED-bp1005-9-item2_2_job" class="job job2" data-type="text" data-field="groupTitle_2">
    <p>首席的执行官</p>
  </div>
  <div id="NED-bp1005-9-item2_2_text" class="text fontText text2" data-type="text" data-field="groupDescript_2">
    <p>最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务</p>
  </div>
</section>

<section id="NED-bp1005-9-item3">
  <img src="template/1005/images/1005_9_bg_3.jpg" class="NED-background" draggable="false"/>
  <div id="NED-bp1005-9-item3_headerText" class="headerText fontH1" data-type="text" data-lang="t8">
    <p>团队成员团队成员</p>
  </div>
  
  <div id="NED-bp1005-9-item3_centerIcon" class="centerIcon centerImg1" data-type="img">
    <img src="template/1005/images/1005_9_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-9-item3_1_roleImg" class="roleImg roleImg1" data-type="img" data-field="groupImg_1">
    <img src="template/1005/images/1005_9_default_groupImg_1.jpg"  draggable="false" />
  </div>
  <div id="NED-bp1005-9-item3_1_title" class="name fontH6 name1" data-type="text" data-field="groupName_1">
    <p>交易环节交易环节</p>
  </div>
  <div id="NED-bp1005-9-item3_1_job" class="job job1" data-type="text" data-field="groupTitle_1">
    <p>首席的执行官</p>
  </div>
  <div id="NED-bp1005-9-item3_1_text" class="text fontText text1" data-type="text" data-field="groupDescript_1">
    <p>最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务</p>
  </div>
  
  <div id="NED-bp1005-9-item3_centerIcon" class="centerIcon centerImg2" data-type="img">
    <img src="template/1005/images/1005_9_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-9-item3_2_roleImg" class="roleImg roleImg2" data-type="img" data-field="groupImg_2">
    <img src="template/1005/images/1005_9_default_groupImg_2.jpg" draggable="false" />
  </div>
  <div id="NED-bp1005-9-item3_2_title" class="name fontH6 name2" data-type="text" data-field="groupName_2">
    <p>交易环节交易环节</p>
  </div>
  <div id="NED-bp1005-9-item3_2_job" class="job job2" data-type="text" data-field="groupTitle_2">
    <p>首席的执行官</p>
  </div>
  <div id="NED-bp1005-9-item3_2_text" class="text fontText text2" data-type="text" data-field="groupDescript_2">
    <p>最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务</p>
  </div>
	
  <div id="NED-bp1005-9-item3_centerIcon" class="centerIcon centerImg3" data-type="img">
    <img src="template/1005/images/1005_9_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-9-item3_3_roleImg" class="roleImg roleImg3" data-type="img" data-field="groupImg_3">
    <img src="template/1005/images/1005_9_default_groupImg_3.jpg" draggable="false" />
  </div>
  <div id="NED-bp1005-9-item3_3_title" class="name fontH6 name3" data-type="text" data-field="groupName_3">
    <p>交易环节交易环节</p>
  </div>
  <div id="NED-bp1005-9-item3_3_job" class="job job3" data-type="text" data-field="groupTitle_3">
    <p>首席的执行官</p>
  </div>
  <div id="NED-bp1005-9-item3_3_text" class="text fontText text3" data-type="text" data-field="groupDescript_3">
    <p>最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务</p>
  </div>
</section>

<section id="NED-bp1005-9-item4">
  <img src="template/1005/images/1005_9_bg_4.jpg" class="NED-background" draggable="false"/>
  <div id="NED-bp1005-9-item4_headerText" class="headerText fontH1" data-type="text" data-lang="t8">
    <p>团队成员团队成员</p>
  </div>

  <div id="NED-bp1005-9-item4_centerIcon" class="centerIcon centerImg1" data-type="img">
    <img src="template/1005/images/1005_9_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-9-item4_1_roleImg" class="roleImg roleImg1" data-type="img" data-field="groupImg_1">
    <img src="template/1005/images/1005_9_default_groupImg_1.jpg" draggable="false" />
  </div>
  <div id="NED-bp1005-9-item4_1_title" class="name fontH6 name1" data-type="text" data-field="groupName_1">
    <p>交易环节交易环节</p>
  </div>
  <div id="NED-bp1005-9-item4_1_job" class="job job1" data-type="text" data-field="groupTitle_1">
    <p>首席的执行官</p>
  </div>
  <div id="NED-bp1005-9-item4_1_text" class="text fontText text1" data-type="text" data-field="groupDescript_1">
    <p>最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务</p>
  </div>

  <div id="NED-bp1005-9-item4_centerIcon" class="centerIcon centerImg2" data-type="img">
    <img src="template/1005/images/1005_9_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-9-item4_2_roleImg" class="roleImg roleImg2" data-type="img" data-field="groupImg_2">
    <img src="template/1005/images/1005_9_default_groupImg_2.jpg" draggable="false" />
  </div>
  <div id="NED-bp1005-9-item4_2_title" class="name fontH6 name2" data-type="text" data-field="groupName_2">
    <p>交易环节交易环节</p>
  </div>
  <div id="NED-bp1005-9-item4_2_job" class="job job2" data-type="text" data-field="groupTitle_2">
    <p>首席的执行官</p>
  </div>
  <div id="NED-bp1005-9-item4_2_text" class="text fontText text2" data-type="text" data-field="groupDescript_2">
    <p>最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务</p>
  </div>

  <div id="NED-bp1005-9-item4_centerIcon" class="centerIcon centerImg3" data-type="img">
    <img src="template/1005/images/1005_9_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-9-item4_3_roleImg" class="roleImg roleImg3" data-type="img" data-field="groupImg_3">
    <img src="template/1005/images/1005_9_default_groupImg_3.jpg" draggable="false" />
  </div>
  <div id="NED-bp1005-9-item4_3_title" class="name fontH6 name3" data-type="text" data-field="groupName_3">
    <p>交易环节交易环节</p>
  </div>
  <div id="NED-bp1005-9-item4_3_job" class="job job3" data-type="text" data-field="groupTitle_3">
    <p>首席的执行官</p>
  </div>
  <div id="NED-bp1005-9-item4_3_text" class="text fontText text3" data-type="text" data-field="groupDescript_3">
    <p>最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务</p>
  </div>

  <div id="NED-bp1005-9-item4_centerIcon" class="centerIcon centerImg4" data-type="img">
    <img src="template/1005/images/1005_9_icon_1.png" draggable="false" />
  </div>
  <div id="NED-bp1005-9-item4_4_roleImg" class="roleImg roleImg4" data-type="img" data-field="groupImg_4">
    <img src="template/1005/images/1005_9_default_groupImg_4.jpg" draggable="false" />
  </div>
  <div id="NED-bp1005-9-item4_4_title" class="name fontH6 name4" data-type="text" data-field="groupName_4">
    <p>交易环节交易环节</p>
  </div>
  <div id="NED-bp1005-9-item4_4_job" class="job job4" data-type="text" data-field="groupTitle_4">
    <p>首席的执行官</p>
  </div>
  <div id="NED-bp1005-9-item4_4_text" class="text fontText text4" data-type="text" data-field="groupDescript_4">
    <p>最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务最优秀的中国云印服务</p>
  </div>
</section>