
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp1003-17-blank .headerText{
  position: absolute;
  width: 294px;
  left: 495px;
  top: 27px;
  font-size: 36px;
  text-align: center;
  color: #070708;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}
