#NED-bp1005-1-index,
#NED-bp1005-2-item1,
#NED-bp1005-2-item2,
#NED-bp1005-2-item3,
#NED-bp1005-2-item4,
#NED-bp1005-3-item1,
#NED-bp1005-3-item2,
#NED-bp1005-3-item3,
#NED-bp1005-3-item4,
*{
  font-family: "Microsoft Yahei";
}
#NED-bp1005-4-introduction,
#NED-bp1005-5-item1,
#NED-bp1005-5-item2,
#NED-bp1005-5-item3,
#NED-bp1005-5-item4,
#NED-bp1005-6-item1,
#NED-bp1005-6-item2,
#NED-bp1005-6-item3,
#NED-bp1005-6-item4,
#NED-bp1005-7-item1,
#NED-bp1005-7-item2,
#NED-bp1005-7-item3,
#NED-bp1005-7-item4,
#NED-bp1005-8-item1,
#NED-bp1005-8-item2,
#NED-bp1005-8-item3,
#NED-bp1005-8-item4,
#NED-bp1005-9-item1,
#NED-bp1005-9-item2,
#NED-bp1005-9-item3,
#NED-bp1005-9-item4,
#NED-bp1005-10-item1,
#NED-bp1005-10-item2,
#NED-bp1005-10-item3,
#NED-bp1005-10-item4,
#NED-bp1005-11-marketSize,
#NED-bp1005-13-item1,
#NED-bp1005-13-item2,
#NED-bp1005-13-item3,
#NED-bp1005-13-item4,
#NED-bp1005-14-contactUs,
#NED-bp1005-15-item1,
#NED-bp1005-15-item2,
#NED-bp1005-16-item1,
#NED-bp1005-16-item2,
#NED-bp1005-17-blank {
    font-family: "Microsoft YaHei";
    letter-spacing: 0em;
}
/**
 * fontfont1
 */
#NED-bp1005-2-item1 .fontH1,
#NED-bp1005-2-item2 .fontH1,
#NED-bp1005-2-item3 .fontH1,
#NED-bp1005-2-item4 .fontH1,
#NED-bp1005-3-item1 .fontH1,
#NED-bp1005-3-item2 .fontH1,
#NED-bp1005-3-item3 .fontH1,
#NED-bp1005-3-item4 .fontH1,
#NED-bp1005-4-introduction .fontH1,
#NED-bp1005-5-item1 .fontH1,
#NED-bp1005-5-item2 .fontH1,
#NED-bp1005-5-item3 .fontH1,
#NED-bp1005-5-item4 .fontH1,
#NED-bp1005-6-item1 .fontH1,
#NED-bp1005-6-item2 .fontH1,
#NED-bp1005-6-item3 .fontH1,
#NED-bp1005-6-item4 .fontH1,
#NED-bp1005-7-item1 .fontH1,
#NED-bp1005-7-item2 .fontH1,
#NED-bp1005-7-item3 .fontH1,
#NED-bp1005-7-item4 .fontH1,
#NED-bp1005-8-item1 .fontH1,
#NED-bp1005-8-item2 .fontH1,
#NED-bp1005-8-item3 .fontH1,
#NED-bp1005-8-item4 .fontH1,
#NED-bp1005-9-item1 .fontH1,
#NED-bp1005-9-item2 .fontH1,
#NED-bp1005-9-item3 .fontH1,
#NED-bp1005-9-item4 .fontH1,
#NED-bp1005-10-item1 .fontH1,
#NED-bp1005-10-item2 .fontH1,
#NED-bp1005-10-item3 .fontH1,
#NED-bp1005-10-item4 .fontH1,
#NED-bp1005-11-marketSize .fontH1,
#NED-bp1005-13-item1 .fontH1,
#NED-bp1005-13-item2 .fontH1,
#NED-bp1005-13-item3 .fontH1,
#NED-bp1005-13-item4 .fontH1,
#NED-bp1005-14-contactUs .fontH1,
#NED-bp1005-15-item1 .fontH1,
#NED-bp1005-15-item2 .fontH1,
#NED-bp1005-16-item1 .fontH1,
#NED-bp1005-16-item2 .fontH1,
#NED-bp1005-17-blank .fontH1{
  font-size: 36px;
  color: #FFFFFF;
  font-weight: normal;
}
/**
 * fontfont2
 */
#NED-bp1005-2-item1 .fontH6,
#NED-bp1005-2-item2 .fontH6,
#NED-bp1005-2-item3 .fontH6,
#NED-bp1005-2-item4 .fontH6,
#NED-bp1005-3-item1 .fontH6,
#NED-bp1005-3-item2 .fontH6,
#NED-bp1005-3-item3 .fontH6,
#NED-bp1005-3-item4 .fontH6,
#NED-bp1005-4-introduction .fontH6,
#NED-bp1005-5-item1 .fontH6,
#NED-bp1005-5-item2 .fontH6,
#NED-bp1005-5-item3 .fontH6,
#NED-bp1005-5-item4 .fontH6,
#NED-bp1005-6-item1 .fontH6,
#NED-bp1005-6-item2 .fontH6,
#NED-bp1005-6-item3 .fontH6,
#NED-bp1005-6-item4 .fontH6,
#NED-bp1005-7-item1 .fontH6,
#NED-bp1005-7-item2 .fontH6,
#NED-bp1005-7-item3 .fontH6,
#NED-bp1005-7-item4 .fontH6,
#NED-bp1005-8-item1 .fontH6,
#NED-bp1005-8-item2 .fontH6,
#NED-bp1005-8-item3 .fontH6,
#NED-bp1005-8-item4 .fontH6,
#NED-bp1005-9-item1 .fontH6,
#NED-bp1005-9-item2 .fontH6,
#NED-bp1005-9-item3 .fontH6,
#NED-bp1005-9-item4 .fontH6,
#NED-bp1005-10-item1 .fontH6,
#NED-bp1005-10-item2 .fontH6,
#NED-bp1005-10-item3 .fontH6,
#NED-bp1005-10-item4 .fontH6,
#NED-bp1005-11-marketSize .fontH6,
#NED-bp1005-13-item1 .fontH6,
#NED-bp1005-13-item2 .fontH6,
#NED-bp1005-13-item3 .fontH6,
#NED-bp1005-13-item4 .fontH6,
#NED-bp1005-14-contactUs .fontH6,
#NED-bp1005-15-item1 .fontH6,
#NED-bp1005-15-item2 .fontH6,
#NED-bp1005-16-item1 .fontH6,
#NED-bp1005-16-item2 .fontH6,
#NED-bp1005-17-blank .fontH6{
  font-size: 24px;
  color: #FEFEFE;
  font-weight: bolder;
  letter-spacing: 0em;
  word-wrap: break-word;
}
/**
 * normal font size
 */
#NED-bp1005-2-item1 .fontText,
#NED-bp1005-2-item2 .fontText,
#NED-bp1005-2-item3 .fontText,
#NED-bp1005-2-item4 .fontText,
#NED-bp1005-3-item1 .fontText,
#NED-bp1005-3-item2 .fontText,
#NED-bp1005-3-item3 .fontText,
#NED-bp1005-3-item4 .fontText,
#NED-bp1005-4-introduction .fontText,
#NED-bp1005-5-item1 .fontText,
#NED-bp1005-5-item2 .fontText,
#NED-bp1005-5-item3 .fontText,
#NED-bp1005-5-item4 .fontText,
#NED-bp1005-6-item1 .fontText,
#NED-bp1005-6-item2 .fontText,
#NED-bp1005-6-item3 .fontText,
#NED-bp1005-6-item4 .fontText,
#NED-bp1005-7-item1 .fontText,
#NED-bp1005-7-item2 .fontText,
#NED-bp1005-7-item3 .fontText,
#NED-bp1005-7-item4 .fontText,
#NED-bp1005-8-item1 .fontText,
#NED-bp1005-8-item2 .fontText,
#NED-bp1005-8-item3 .fontText,
#NED-bp1005-8-item4 .fontText,
#NED-bp1005-9-item1 .fontText,
#NED-bp1005-9-item2 .fontText,
#NED-bp1005-9-item3 .fontText,
#NED-bp1005-9-item4 .fontText,
#NED-bp1005-10-item1 .fontText,
#NED-bp1005-10-item2 .fontText,
#NED-bp1005-10-item3 .fontText,
#NED-bp1005-10-item4 .fontText,
#NED-bp1005-11-marketSize .fontText,
#NED-bp1005-13-item1 .fontText,
#NED-bp1005-13-item2 .fontText,
#NED-bp1005-13-item3 .fontText,
#NED-bp1005-13-item4 .fontText,
#NED-bp1005-14-contactUs .fontText,
#NED-bp1005-15-item1 .fontText,
#NED-bp1005-15-item2 .fontText,
#NED-bp1005-16-item1 .fontText,
#NED-bp1005-16-item2 .fontText,
#NED-bp1005-17-blank .fontText {
  word-wrap: break-word;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: normal;
  line-height: 1.5;
}
