/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp1016-10-item1 .headerText,
#NED-bp1016-10-item2 .headerText,
#NED-bp1016-10-item3 .headerText,
#NED-bp1016-10-item4 .headerText {
  position: absolute;
  width: 100%;
  top: 35px;
  left: 34px;
  font-size: 32px;
  color: #333333;
  letter-spacing: 4px;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}
#NED-bp1016-10-item1 .bar,
#NED-bp1016-10-item2 .bar,
#NED-bp1016-10-item3 .bar,
#NED-bp1016-10-item4 .bar {
    position: absolute;
    width: 160px;
    height: 170px;
    top: 240px;
    z-index: 6;
}
#NED-bp1016-10-item1 .inline,
#NED-bp1016-10-item2 .inline,
#NED-bp1016-10-item3 .inline,
#NED-bp1016-10-item4 .inline {
  display: inline-block;
}
#NED-bp1016-10-item1 .color,
#NED-bp1016-10-item2 .color,
#NED-bp1016-10-item3 .color,
#NED-bp1016-10-item4 .color {
  font-size: 34px;
  color: #ffc900; 
}
#NED-bp1016-10-item1 .bar {
    left: 560px;
}
#NED-bp1016-10-item2 .bar1 {
    left: 420px;
}
#NED-bp1016-10-item2 .bar2 {
    left: 699px;
}
#NED-bp1016-10-item3 .bar1 {
    left: 300px;
}
#NED-bp1016-10-item3 .bar2 {
    left: 559px;
}
#NED-bp1016-10-item3 .bar3 {
    left: 821px;
}
#NED-bp1016-10-item4 .bar1 {
    left: 200px;
}
#NED-bp1016-10-item4 .bar2 {
    left: 439px;
}
#NED-bp1016-10-item4 .bar3 {
    left: 681px;
}
#NED-bp1016-10-item4 .bar4 {
    left: 921px;
}

#NED-bp1016-10-item1 .quote1,
#NED-bp1016-10-item2 .quote1,
#NED-bp1016-10-item3 .quote1,
#NED-bp1016-10-item4 .quote1 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 95px;
    left: 396px;
    z-index: 6;
}
#NED-bp1016-10-item1 .quote2,
#NED-bp1016-10-item2 .quote2,
#NED-bp1016-10-item3 .quote2,
#NED-bp1016-10-item4 .quote2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 126px;
    left: 842px;
    z-index: 6;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp1016-10-item1 .descriptionText,
#NED-bp1016-10-item2 .descriptionText,
#NED-bp1016-10-item3 .descriptionText,
#NED-bp1016-10-item4 .descriptionText {
  position: absolute;
  width: 380px;
  top: 119px;
  left: 453px;
  font-size: 26px;
  color: #333333;
  text-align: center;
}
/**
 * The custom description area
 */
/**title */
#NED-bp1016-10-item1 .title,
#NED-bp1016-10-item2 .title,
#NED-bp1016-10-item3 .title,
#NED-bp1016-10-item4 .title {
  position: absolute;
  width: 145px;
  top: 445px;
  color: #333333;
  line-height: 32px;
  word-wrap: break-word;
  text-align: center;
  z-index: 6;
}
/**text */
#NED-bp1016-10-item1 .text,
#NED-bp1016-10-item2 .text,
#NED-bp1016-10-item3 .text,
#NED-bp1016-10-item4 .text {
  position: absolute;
  font-weight: bolder;
  font-size: 28px;
  color: #333333;
  top: 307px;
  line-height: 32px;
  word-wrap: break-word;
  z-index: 6;
}
#NED-bp1016-10-item1 .textAdd,
#NED-bp1016-10-item2 .textAdd,
#NED-bp1016-10-item3 .textAdd,
#NED-bp1016-10-item4 .textAdd {
  display: inline-block;
  font-size: 34px;
  color: #ffc900;
  line-height: 32px;
  min-width: 80px;
}
#NED-bp1016-10-item1 .textAdd1,
#NED-bp1016-10-item2 .textAdd1,
#NED-bp1016-10-item3 .textAdd1,
#NED-bp1016-10-item4 .textAdd1 {
  display: inline-block;
  font-size: 34px;
  color: #ffc900;
  line-height: 32px;
  min-width: 50px;
}
/**
 * One list item
 */
#NED-bp1016-10-item1 .title {
   left: 567px;
}
#NED-bp1016-10-item1 .text {
   left: 601px;
}
/**
 * Two list item
 */
#NED-bp1016-10-item2 .title1 {
  left: 427px;
}
#NED-bp1016-10-item2 .text1 {
  left: 461px;
}
#NED-bp1016-10-item2 .title2 {
  left: 708px;
}
#NED-bp1016-10-item2 .text2 {
  left: 742px;
}
/**
 * Three list item
 */
#NED-bp1016-10-item3 .title1 {
  left: 307px;
}
#NED-bp1016-10-item3 .text1 {
  left: 341px;
}
#NED-bp1016-10-item3 .title2 {
  left: 568px;
}
#NED-bp1016-10-item3 .text2 {
  left: 602px;
}
#NED-bp1016-10-item3 .title3 {
  left: 828px;
}
#NED-bp1016-10-item3 .text3 {
  left: 862px;
 }
/**
 * Four list item
 */
#NED-bp1016-10-item4 .title1 {
  left: 207px;
}
#NED-bp1016-10-item4 .text1 {
  left: 241px;
}
#NED-bp1016-10-item4 .title2 {
  left: 448px;
}
#NED-bp1016-10-item4 .text2 {
  left: 482px;
}
#NED-bp1016-10-item4 .title3 {
  left: 688px;
}
#NED-bp1016-10-item4 .text3 {
  left: 722px;
}
#NED-bp1016-10-item4 .title4 {
  left: 928px;
}
#NED-bp1016-10-item4 .text4 {
  left: 962px;
}
