<section id="NED-bp1016-14-contactUs">
  <img src="template/1016/images/1016_bg_4.png" class="NED-background" draggable="false" />

  <div id="NED-bp1016-14-contactUs_centerword" class="centerword" data-type="text">
    <img src="template/1016/images/1016_14_icon7.png" data-type="img" draggable="false">
  </div>

  <div id="NED-bp1016-14-contactUs_person_text" class="text fontText persontext">
    <img src="template/1016/images/1016_14_icon_1.png" data-type="img" draggable="false"/>
    <div data-type="text" class="textAdd"  data-field="contactTitle">联系人</div>:
    <div data-type="text" class="textAdd1" data-field="contact">某某某某</div>
  </div>

  <div id="NED-bp1016-14-contactUs_telephone_text" class="text fontText telephonetext">
    <img src="template/1016/images/1016_14_icon_2.png" data-type="img" draggable="false"/>
    <div data-type="text" class="textAdd"  data-field="phoneTitle">电话</div>:
    <div data-type="text" class="textAdd1" data-field="phone">18759222366</div>
  </div>

  <div id="NED-bp1016-14-contactUs_mail_text" class="text fontText mailtext">
    <img src="template/1016/images/1016_14_icon_3.png" data-type="img" draggable="false"/>
    <div data-type="text" class="textAdd"  data-field="emailTitle">邮箱</div>:
    <div data-type="text" class="textAdd1" data-field="email">xmjgzb</div>
  </div>

  <div id="NED-bp1016-14-contactUs_qq_text" class="text fontText qqtext">
    <img src="template/1016/images/1016_14_icon_4.png" data-type="img" draggable="false"/>
    <div data-type="text" class="textAdd"  data-field="qqTitle">QQ</div>:
    <div data-type="text" class="textAdd1" data-field="qq">102210221022</div>
  </div>

  <div id="NED-bp1016-14-contactUs_wechatIcon_text" class="text fontText wechattext">
    <img src="template/1016/images/1016_14_icon_5.png" data-type="img" draggable="false"/>
    <div data-type="text" class="textAdd"  data-field="wechatTitle">微信</div>:
    <div data-type="text" class="textAdd1" data-field="wechat">XXXXXXXXX</div>
  </div>

  <div id="NED-bp1016-14-contactUs_website_text" class="text fontText websitetext">
    <img src="template/1016/images/1016_14_icon_6.png" data-type="img" draggable="false"/>
    <div data-type="text" class="textAdd"  data-field="addressTitle">网址</div>:
    <div data-type="text" class="textAdd1" data-field="address">www.google.com</div>
  </div>

</section>